.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box
}

.column {
    position: center;
    width: 100%;
    float: center;
    box-sizing: border-box
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%
    }

    .column {
        margin-left: 0
    }

    .column:first-child {
        margin-left: 0
    }
}

html {
    font-size: 100%
}

@media (prefers-color-scheme: dark) {
    body {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        background: #151826;
        background: radial-gradient(circle, #151826 28%, #0d0f18 100%);
        font-family: Inter, sans-serif;
        color: #fff
    }
}

@media (prefers-color-scheme: light) {
    body {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        background: #fff;
        font-family: Inter, sans-serif;
        color: #222
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-family: Inter, sans-serif
}

h1 {
    font-size: 24px;
    line-height: 64px;
    letter-spacing: 0
}

@media (min-width: 550px) {
    h1 {
        font-size: 48px;
        line-height: 96px
    }
}

a {
    color: #0085ff;
    text-decoration: none
}

a:hover {
    color: #0085ff
}

.button, button {
    margin-bottom: 1rem
}

@media (prefers-color-scheme: dark) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #151826 #222738
    }

    ::-webkit-scrollbar {
        width: 8px
    }

    ::-webkit-scrollbar-track {
        background: #222738
    }

    ::-webkit-scrollbar-thumb {
        background-color: #151826;
        border-radius: 30px;
        border: 3px none #fff
    }
}

@media (prefers-color-scheme: light) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #323232 #dbdbdb
    }

    ::-webkit-scrollbar {
        width: 8px
    }

    ::-webkit-scrollbar-track {
        background: #dbdbdb
    }

    ::-webkit-scrollbar-thumb {
        background-color: #323232;
        border-radius: 30px;
        border: 3px none #fff
    }
}

.rounded-avatar {
    border-radius: 50%
}

.button, button {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 300px;
    font-weight: 700;
    line-height: 20px;
    padding: 14px 12px 12px 12px;
    letter-spacing: .1px;
    white-space: wrap;
    outline: 0;
    border-radius: 8px;
    cursor: pointer
}

.button:focus, button:hover {
    color: #333;
    border-color: #888;
    outline: 0
}

.icon {
    padding: 0 8px 3.5px 0;
    vertical-align: middle;
    width: 20px;
    height: 20px
}

.button.button-custom {
    color: #fff;
    background-color: #fff;
    background-image: linear-gradient(-135deg, #0f0c29, #302b63, #24243e)
}

.button.button-custom:focus, .button.button-custom:hover {
    filter: brightness(90%)
}

.button.button-default {
    color: #fff;
    background-color: #0085ff
}

.button.button-default:focus, .button.button-default:hover {
    filter: brightness(90%)
}

.button.button-website {
    color: #fff;
    background-color: #000
}

.button.button-custom_website {
    color: #fff;
    background-color: #000
}

.button.button-discord {
    color: #fff;
    background-color: #5865f2
}

.button.button-discord:focus, .button.button-discord:hover {
    filter: brightness(90%)
}

.button.button-facebook {
    color: #fff;
    background-color: #1877f2
}

.button.button-facebook:focus, .button.button-facebook:hover {
    filter: brightness(90%)
}

.button.button-github {
    color: #fff;
    background-color: #000
}

.button.button-github:focus, .button.button-github:hover {
    filter: brightness(90%)
}

.button.button-instagram {
    color: #fff;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000)
}

.button.button-instagram:focus, .button.button-instagram:hover {
    filter: brightness(90%)
}

.button.button-linkedin {
    color: #fff;
    background-color: #2867b2
}

.button.button-linkedin:focus, .button.button-linkedin:hover {
    filter: brightness(90%)
}

.button.button-matrix {
    color: #000;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    border-width: 1px
}

.button.button-matrix:focus, .button.button-matrix:hover {
    filter: brightness(90%)
}

.button.button-mastodon {
    color: #fff;
    background-image: linear-gradient(to bottom, #6364ff, #563acc)
}

.button.button-mastodon:focus, .button.button-mastodon:hover {
    filter: brightness(90%)
}

.button.button-twitter {
    color: #fff;
    background-color: #1da1f2
}

.button.button-twitter:focus, .button.button-twitter:hover {
    filter: brightness(90%)
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box
}

.column {
    position: center;
    width: 100%;
    float: center;
    box-sizing: border-box
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%
    }

    .column {
        margin-left: 0
    }

    .column:first-child {
        margin-left: 0
    }
}

html {
    font-size: 100%
}

@media (prefers-color-scheme: dark) {
    body {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        background: #151826;
        background: radial-gradient(circle, #151826 28%, #0d0f18 100%);
        font-family: Inter, sans-serif;
        color: #fff
    }
}

@media (prefers-color-scheme: light) {
    body {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        background: #fff;
        font-family: Inter, sans-serif;
        color: #222
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-family: Inter, sans-serif
}

h1 {
    font-size: 24px;
    line-height: 64px;
    letter-spacing: 0
}

@media (min-width: 550px) {
    h1 {
        font-size: 48px;
        line-height: 96px
    }
}

a {
    color: #0085ff;
    text-decoration: none
}

a:hover {
    color: #0085ff
}

.button, button {
    margin-bottom: 1rem
}

@media (prefers-color-scheme: dark) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #151826 #222738
    }

    ::-webkit-scrollbar {
        width: 8px
    }

    ::-webkit-scrollbar-track {
        background: #222738
    }

    ::-webkit-scrollbar-thumb {
        background-color: #151826;
        border-radius: 30px;
        border: 3px none #fff
    }
}

@media (prefers-color-scheme: light) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #323232 #dbdbdb
    }

    ::-webkit-scrollbar {
        width: 8px
    }

    ::-webkit-scrollbar-track {
        background: #dbdbdb
    }

    ::-webkit-scrollbar-thumb {
        background-color: #323232;
        border-radius: 30px;
        border: 3px none #fff
    }
}